@media only screen and (max-width: 767px) {

  /*
  =============
  Section 1 CSS
  =============
  */

  #section-1 {
    background-color: crimson;
    height: 50%;
  }

  .section-1-left {
    background-color: white;
    height: 50%;
  }

  .section-1-right {
    background-color: crimson;
    height: 100%;
  }

  .caller-h2 {
    font-size: 25px;
    letter-spacing: 1px;
    font-family: avn-demi, pf-heavy, pf-medium;
  }

  .caller-h5 {
    font-size: 15px;
    font-family: avn-regular, pf-regular;
  }

  .background-white {
    background: white;
  }

  .background-crimson {
    background: crimson;
  }

  .logo-img {
    height: 100px;
    margin-top: 10px;
  }

  .section-1-left-middle-content {
    color: crimson;
    font-family: avn-regular, pf-regular;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 10%;
    left: 0%;
    transform: translate(0%, 0%);
  }

  .section-1-left-bottom-content {
    font-family: avn-demi, pf-heavy, pf-medium;
    font-size: 12px;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 35%;
    left: 20%;
  }

  #quoter {
    font-size: 16px;
    color: black;
    font-family: avn-bold;
    top:50%;
  }

  .section-1-right-middle-content {
    color: white;
    width: 100%;
    position: absolute;
    text-align: center;
    letter-spacing: 1px;
    font-size: 21px;
    font-family: avn-regular, pf-regular;
    top: 10%;
    left: 0%;
    transform: translate(0%, 0%);
  }

  .section-1-city-img {
    position: absolute;
    width: 94%;
    bottom: 0px;
    max-height: 50%;
  }

  /*
  ================
  Section  Title CSS
  ================
  */

  .speakers-section-caption {
    font-size: 25px;
  }

  .speakers-section-subcaption {
    font-size: 18px;
  }

  .panels-section-caption {
    font-size: 30px;
  }

  .panels-section-subcaption {
    font-size: 18px;
  }

  .mobile-small {
    font-size: 12px;
  }

  #section-2 {
    padding: 5px;
    max-height: 1200px;
  }

  /*
  ============== */

  .speaker-img {
    border: 5px solid #EFE9E1;
    box-shadow: -10px 20px crimson;
    margin-top: 0px;
    width: 100%;
    max-width: 240px;
    height: auto;
  }

  .speaker-name {
    width: 100%;
    max-width: 240px;
    text-align: left;
    color: white;
    font-family: avn-demi, pf-heavy, pf-medium;
    font-size: 15px;
    line-height: 20px;
    margin: auto;
    letter-spacing: 1px;
  }

  .speaker-title {
    width: 100%;
    max-width: 240px;
    text-align: left;
    line-height: 15px;
    font-size: 12px;
    margin: auto;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .speaker-item {
    padding: 0px 8px;
  }

  /*
  ================
  Section  Banner
  ================
  */

  .section-banner {
    height: 150px;
  }

  .sponsor-caption {
    padding-top: 15px;
    font-size: 25px;
    font-family: avn-demi, pf-heavy, pf-medium;
    letter-spacing: 2px;
    color: white;
  }

  .contact-icon {
    font-size: 30px;
    color: #E6E6E6;
    line-height: 30px;
  }

  .contact-caption {
    font-size: 12px;
    letter-spacing: 2px;
  }


  .panel-banner {
    height: 15%;
  }

  .panel-name {
    position: absolute;
    font-family: avn-demi, pf-heavy, pf-medium;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
    top:auto;
    bottom: 5px;
    right: auto;
    left: 20px;
    transform: rotate(0deg);
    transform-origin: auto;
  }


  .panel-desc p {
    font-size: 14px;
    font-family: avn-regular, pf-regular;
    text-align: justify;
    line-height: 18px;
  }

  .desc-back-btn {
    border: 1px solid white;
    padding: 3px 5px;
    width: 100px;
    text-align: center;
  }

  .mobile-ultra {
    font-family: avn-ultra, pf-light;
    font-size: 18px;
  }

}
