#whitebox{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8%;
}

#whitebox .title{
  margin-bottom: 20px;
  font-family: avn-demi, pf-heavy, pf-medium, pf-medium;
}
#recap{
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 5px;
}
#question{
  color: red;
  padding-bottom: 30px;
}
#whycome{
  text-align: center;
  padding-top: 60px;
  color: rgba(160, 160, 160, 0.5);
  font-size: 80px;
}
#redbox{
  background-color: crimson;
  padding: 10%;
  height: 100%;
}
#blackbox{
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10%;
  height: 100%;
}
.header {
  background: url("../assets/images/bg-about.jpg");
  background-position: right top;
  background-size: cover;
}
.my-icon-next{
  content: url("../assets/images/next-icon.png") !IMPORTANT;
  position: absolute;
  bottom: 5%;
  right: 0;
  width: 40%;
}
.my-icon-prev{
  content: url("../assets/images/prev-icon.png") !IMPORTANT;
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 40%;
}
.carousel-control-next{
  max-width: 10%;
}
.carousel-control-prev{
  max-width: 10%;
}

.strip{
  padding-bottom: 15px;
}
.number{
  color: white;
  font-size: 50px;
}
.img-responsive img{
  max-width: 100%;
  max-height: 100%;
}
.picture{
  width: 100%;
}

#redbox .reason {
  min-height: 190px;
}

#blackbox .reason {
  min-height: 190px;
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-item{
  padding-bottom: 10%;
}
.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}
.intro-container{
  padding-top: 10%;
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
}
.white-container {
  background-color: white;
  padding-top: 10%;
  display: none;
}
.carousel-item{
  margin-bottom: 10%;
}

.team-profile{
  padding: 5%;
}

.team-profile h2{
  font-family: avn-demi, pf-heavy, pf-medium;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.ourProfiles{
  display: none;
  padding: 2%;
}

.ourProfiles h4{
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 3px;
}

.ourProfiles h5{
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: avn-regular, pf-regular;
}

.links {
  margin-bottom: 15px;
}

.teamBars{
  cursor: pointer;
  padding-top: 2%;
}

.active, .teamBars:hover {
  font-weight: 800;
  color: crimson;
}
.fade-in {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.summary {
  font-family: avn-regular, pf-regular;
  text-align: justify;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.links a {
  color: black;
}

.links a:hover {
  color: crimson;
}
