
@media only screen and (max-width: 767px) {
  html{
    height: 100%;
    width: 100%;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
    background-color: white;
  }

  .header {
    background: url("../assets/images/mobile-bg-panels.jpg");
    background-position: right top;
    background-size: cover;
  }

  .main-section{
    margin: 50px auto 0;
    max-width: 100%;
  }

  .panel-desc p {
    font-size: 13px;
  }

  .speakers-header {
    margin-top: 20px;
  }

  .speaker-img {
    border: 5px solid #EFE9E1;
    box-shadow: -10px 20px crimson;
    margin-top: 0px;
    width: 100%;
    max-width: 240px;
    height: auto;
  }

  .speaker-name {
    width: 100%;
    max-width: 240px;
    text-align: left;
    color: white;
    font-family: avn-demi, pf-heavy, pf-medium;
    font-size: 15px;
    line-height: 20px;
    margin: auto;
    letter-spacing: 1px;
  }

  .speaker-title {
    width: 100%;
    max-width: 240px;
    text-align: left;
    line-height: 15px;
    font-size: 12px;
    margin: auto;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .speaker-item {
    padding: 0px 8px;
  }

  .panel-title{
    font-size: 180%;
  }
}
